html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222;
  color: #FFF;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.wrapper {
  width: 50%;
}
.text {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}
.name-text {
  font-family: 'Potta One', cursive;
  font-size: 20px;
  text-align: right;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}


@media (max-width: 800px) {
  .wrapper {
    width: 80%;
  }
  .name-text {
    font-size: 16px;
  }
  .text {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 100%;
  }
  .container {
    padding: 0 15px;
  }
}